<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<variable name="logDir" value="./Logs/${date:format=yyyy-MM-dd}"/>
		<variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}"/>
		<targets>
			<target name="log" xsi:type="File" fileName="${logDir}/full.log" layout="${detailedLayout}" />
		</targets>
		<rules>
			<logger name="*" appendTo="log"/>
		</rules>
	</nlog>

	<system.serviceModel>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
		<services>
			<service behaviorConfiguration="websocket" name="WCF.RESTService.RESTService">
				<endpoint address="" behaviorConfiguration="webHttp" binding="webHttpBinding"
					name="web_http_srv" contract="WCF.RESTService.Interface.IRESTService" />
				<endpoint address="mex" binding="mexHttpBinding" name="mex_serv"
					contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/API" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<extensions>
			<behaviorExtensions>
				<add name="MessageInspector" type="WCF.RESTService.Inspector.MessageInspectorBehaviorExtension,WCF.RESTService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
				<add name="ServiceErrorsHandler" type="WCF.RESTService.Exception.ErrorsHandlerServiceBehaviorExtension,WCF.RESTService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
				<add name="WebSocketServer" type="WCF.RESTService.Notification.WebSocketServerExtensionElement,WCF.RESTService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
				<add name="CorsSupport" type="WCF.RESTService.Cors.CorsSupportBehaviorElement, WCF.RESTService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			</behaviorExtensions>
		</extensions>

		<behaviors>
			<serviceBehaviors>
				<behavior name="websocket">
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False" />
					<!--<ServiceErrorsHandler IsLogFile="false"/>-->
					<WebSocketServer  IsLogFile="false" Url="ws://localhost:8081/"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="webHttp">
					<webHttp />
					<CorsSupport/>
					<MessageInspector IsDisplayConsole="true" IsLogFile="true"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>